.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgb(255, 255, 255);
}

.brand-div {
  height: 100%;
  width: 50%;
  
}

.logo-div {
  margin-left: 5rem;
  margin-right: 1rem;
  background: linear-gradient(to bottom left, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0));
  border-radius: 50%;
  padding: 0.6rem;
}

.header-logo {
  width: 35px;
  height: 35px;
}

.header-name {
  margin: 0;
}

.header-options {
  margin-right: 5rem;
}

.header-option {
  list-style: none;
  margin: 0 1rem;
  padding: 0.5rem;
}

.header-option:hover {
  border-top: 3px rgb(81, 142, 223) solid;
  margin-top: -3px;
  font-weight: 700;
}

.border-bottom {
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, rgb(116, 11, 202), rgb(81, 142, 223));
}

.header-option::after {
  
}